body {
    margin: 0;
    padding: 0;
    color: #555;
    overflow-x: hidden;
    background-color: #bebebe28;
    width: 100vw;
    min-width: 300px;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
}

a {
    text-decoration: none;
}

/* ------ TOP-BAR ----- */
#top-bar {
    padding: 0px 10px 0px 10px; 
    text-align: left;
    margin-bottom: 0px;
}
#top-bar li {
    border-top: 3px solid #bebebe28;
    display: inline-block;
    padding: 10px 0 10px 0;
    margin-left: -5px;
}
#top-bar li a {
    font-weight: bold;
    border-right: 1px solid #5251513f;
    border-left: 1px solid #5251513f;
    padding-right: 10px;
    height: 5px;
    padding-left: 10px;
    font-size: 15px;
}
#blue{
    color: #0669de;
    border: none;
}
#blue:hover {
    color: #0667de88;
}
#violet{
    color: #c4170c;
}
#top-violet:hover{
    border-top: 3px solid #c4170c;
}
#green{
    color: #4bad48;
}
#top-green:hover{
    border-top: 3px solid #4bad48;
}
#orange{
    color: #ff6900;
}
#top-orange:hover{
    border-top: 3px solid #ff6900;
}
#pink{
    color: #fb0234;
}
#top-pink:hover{
    border-top: 3px solid #fb0234;
}
#very-blue {
    color: #2b4c9a;
}
#top-very-blue:hover{
    border-top: 3px solid #2b4c9a;
}

/* ------ HEADER ----- */
#header {
    position: sticky;
    top: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #c4170c;
    border-bottom: 5px solid #c4170c;
}
#header-logo{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

/* ------ container-content ----- */
#content {
    box-sizing: border-box;
    width: 100%;
    max-width: 888px;
    margin: auto;
    padding: 30px;
}
#content-infos {
    position: relative;
    bottom: 100px;
    list-style: none;
    padding: 10px;
}

/* -- content-img -- */
.content-img {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 40%;
}
.content-img img{
    width: 100%;
    width: 270px;
}

/* --- infos - Textos das materias--- */
.infos {
    float: right;
    display: inline-block;
    box-sizing: border-box;
    width: 60%;
    min-width: 420px;
}
.infos ul {
    list-style: none;
    padding: 0;
}
.infos-headline {
    padding: 0px 10px 10px 10px;
    font-size: 14px;
    font-weight: bold;
}
.infos-cta {
    color: #c4170c;
    font-size: 20px;
    padding: 0px 10px 6px 10px;
    font-weight: bold;
}
.infos-extras {
    padding: 10px;
    padding: 0 0 0 10px;
    font-size: 13px;
}
.infos-date {
    padding: 15px 0 20px 10px;
    font-size: 13px;
    border-bottom: 1px solid #3333334e;
}

/* ----- CONTENT INFOS 2----- */
#content-infos-two{
    /* position: relative; */
    list-style: none;
    padding: 10px;
}
#content-infos-two img {
    width: 100%;
}

#content-infos-two-text {
    position: relative;
    font-size: 40px;
    width: 90%;
    bottom: 130px;
    box-sizing: content-box;
    color: #fff;
    text-shadow: 0 1px 3px rgb(0 0 0 / 80%);
    padding: 10px 10px 10px 20px;
}


/* FOOTER */
#footer {
    position: relative;
    background-color: #333;
    border-top: 5px solid #fd8a24;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}
.social-icons {
    margin-top: 10px;
}
.social-icon {
    width: 20px;
    padding: 10px 10px 10px 0;
}


/* CELULAR - WIDTH 500 */
@media screen and (max-width: 780px) {
    /* ------ TOP-BAR ----- */
    #top-bar {
        display: none;
    }

    /* ------ container-content ----- */
    #content {
        /* position: relative; */
        box-sizing: border-box;
        padding: 0;
    }
    #content-infos {
        background-color: #fff;
        width: 100%;
        bottom: 0;
        position: initial;
        padding: 0;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    /* -- content-img -- */
    .content-img {
        display: block;
        width: 90%;
        margin: auto;
        padding: 10px 10px 0 10px;
    }
    .content-img img{
        width: 100%;
    }

    /* --- infos - Textos das materias--- */
    .infos {
        float: none;
        display: block;
        margin: auto;
        width: 90%;
        min-width: 100px;
    }
    .infos ul {
        list-style: none;
        padding: 0;
    }
    .infos-headline {
        padding: 10px;
        font-size: 13px;
        padding-bottom: 6px;
    }
    .infos-cta {
        padding: 10px;
        font-weight: bold;
    }

    /* --- Content infos two--- */
    #content-infos-two{
        display: none;
    }
}
