body {
    margin: 0;
    padding: 0;
    width: 100vw;
    color: #555;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
}
h1, h2  {
    color: #111;
}
h1{
    color: #c4170c;
}
a {
    text-decoration: none;
    color: #c4170c;
    font-weight: 700;
}
p {
    font-size: 20px;
    line-height: 32px;
}
.container {
    padding: 10px;
    width: 79%;
    margin: auto;
}

#top-bar li, #infos {
    display: inline-block;
}
#infos,#top-bar {
    text-align: left;
}
#top-bar {
    padding: 0px 10px 0px 10px; 
    margin-bottom: 0px;
}
#top-bar li {
    border-top: 3px solid #bebebe28;
    padding: 10px 0 10px 0;
    margin-left: -5px;
}
#top-bar li a {
    font-weight: bold;
    border-right: 1px solid #5251513f;
    border-left: 1px solid #5251513f;
    padding-right: 10px;
    height: 5px;
    padding-left: 10px;
    font-size: 15px;
}
.top:hover {
    border-top-style: solid;
    border-top-width: 3px;
}
#blue:hover {
    color: #0667de88;
}
#violet:hover{
    border-top-color:#c4170c;
}
#green:hover{
    border-top-color: #4bad48;
}
#orange:hover{
    border-top-color: #ff6900;
}
#pink:hover{
    border-top-color: #fb0234;
}
#very-blue:hover{
    border-top-color: #2b4c9a;
}
#t:hover {
    background-color: red;
}

.top-bar-nav {
    background-color: #c4170c;
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: 5px solid #c4170c;
}
#logo {
    position: absolute;
    top: 10px;
}
/* 
#header{
    text-align: justify;
    width: 750px;
    margin: auto;
}

#header h1 {
    font-size: 40px;
    letter-spacing: -1;
    font-weight: bolder;
}
#header p {
    color: #555;
    font-size: 12px;
}

#header-infos  {
    font-size: 10px;
    font-weight: normal;
}
#header-infos #autor {
    font-weight: bold;
    margin-bottom: 3px;
}
#header-infos #data {
    color: #555;
    font-size: 9px;
    margin-top: 0px;
}

#header-infos ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}
#header-infos ul li img  {
    margin-right: 10px;
    width: 22px;
    cursor: pointer;
} */

.container {
    max-width: 888px;
    margin: auto;
    padding: 30px;
    margin-bottom: 30px;
}

.headline {
    font-size: 56px;
    line-height: 64px;
}
.subtitle {
    font-weight: normal;
    font-size: 20px;
}
.author {
    font-weight: bold;
    font-size: 0.8em;
}
.social-icons {
    margin-top: 10px;
}
.social-icon {
    width: 20px;
    padding: 10px 10px 10px 0;
}

.content {
    max-width: 648px;
    margin: auto;
    /* width: 700px; */
    font-size: 13px;
    color: #555;
}

.cta {
    font-size: 20px;
    margin:30px 0;
}

figure {
    padding: 0;
    margin: 0;
    margin: 40px 0;
    font-size: 12px;
}

figure > img {
    width: 100%;
 } 

/* .content img {
} 
*/

    /* 
.content legend {
    font-size: 9px;
    color: #555;
}
.content span {
    color: #555; 
    font-size: 12px; 
    font-weight: normal
} */

/* #footer {
    background-color: #c4170c;
    border-top: 5px solid #c4170c;
    padding: 10px;
    position: relative;
    width: 100%;
} */




/* .link {
    color: #fd8a24;
    font-weight: bold;
}
.link:hover {
    cursor: pointer;
    color: #555;
} */

/* @font-face {
    font-family: 'OpenSansV';
    src: url(fontes/OpenSansV.ttf);
} */
